.about {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Rajdhani", sans-serif;
    height: 800px;
}

.about-top {
    display: flex;
    gap: 88px;
    height: 325px;
    margin: 44px 75px 88px 79px;

}

.about-top-card {
    width: 870px;
    font-family: "Rajdhani", sans-serif;
    border: 1px solid rgb(245, 241, 241); 
    border-bottom: none; 
    border-left: none;   
    border-right: none;  

}

.about-top-card h2 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0%;
    font-weight: 400;
    width: 328px;
    padding-top: 14px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.about-top-card p {
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 0%;
}

.about-top-image img {
  height: 310px;
}
.about-bottom {
    display: flex;
    gap: 88px;
    margin: 44px 75px 88px 79px;
    height: 276px;
}

.about-bottom-card {
    width: 487px;
    background-color: white;
    color: black;
    padding-left: 24px;
    padding-top: 23px;
}

.about-bottom-card h3 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    line-height: 25px;
    font-weight: 400;
    padding-bottom: 40px;
}

.about-bottom-card p {
    font-size: 19px;
    padding-bottom: 13px;
}

.about-bottom-card button {
    font-size: 17px;
    padding-bottom: 12px;
}

.about-bottom-image img{
    height: 274px;
}